<div class="container">
  <h1>Welcome to Anagrams!</h1>

  <form action="/" method="post">
    Enter a word to get anagrams for:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Search!">
  </form>

  <p>
    <p>Anagrams for: </p>
    <p><%=@input_word.word%></p>
  <p>Anagrams:</p>
  <% @anagrams.each do |a| %>
    <%= a.word  %><br>
    <% end %>
</p>
</div>
